angular.module('SCMApp', ['ui.bootstrap']);
{}

body{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida grande", "Tahoma", "Verdana", "Arial", "Sans-serif";
}

header{
	text-align:right;
	overflow: hidden;
}
header a{
	color:white;
}
a div{
	text-decoration: none;
}
header #connection_button{
	cursor: pointer;
	float: right;
	color:white;
	padding-right: 8px;
	background-color:#445878;
	border-bottom-left-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 3px;
}
header #forms{
	text-align: inherit;
	background-color: #445878;
	padding-right: 20px;
	padding-bottom: 8px;
}
header #banner{
	height: 50px;
	background-color: #445878;
}
header #banner h1{
	margin: 0px;
	text-align: center;
	color: white;
}
header .collapse {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height 0.35s ease;
-moz-transition: height 0.35s ease;
-o-transition: height 0.35s ease;
transition: height 0.35s ease;
}
#corps
{
	min-height: 500px;
	overflow: hidden;
}
#carnet{
	background-color: #92CDCF;
	float: left;
	min-width: 20%;
	height: 500px;
	overflow: hidden;
	padding-left: 8px;
}
#carnet h1{
	color: white;
	display: inline-block;
	margin-right: 10px;
}
#carnet img.add{
	width: 16px;
	height: 16px;
	border-radius: 16px;
}
#carnet img.add:hover{
display: inline-block;
border-width: 1px;
border-style: solid;
border-color: #EEEFF7;
}
.cEntry{
	text-decoration:underline;
	display:block;
	cursor: pointer;
	
}
.cEntry:hover{
background-color:rgb(240,240,240);
}
.cEntry.selected{
	background-color:#92CDCF;
}
.cEntry:hover.selected{
}
#detail{
	margin:auto;
	padding: 10px;
	float:left;
	width: 75%;
}
fieldset{
	background-color: rgb(240,240,240);
	border-color: yellow;
}
footer{
	background-color: #1C1D21;
	color: white;
	text-align:center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#conctactInfos{
	  border-radius: 5px;
	  background-color: rgb(240,240,240);
	  padding: 10px;
	  overflow: hidden;
	  line-height: 150%;
	  margin-left: 80px;
}