angular.module('SCMApp', ['ui.bootstrap']);
{}

body{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida grande", "Tahoma", "Verdana", "Arial", "Sans-serif";
}

header{
	text-align:right;
	overflow: hidden;
}
header a{
	color:white;
}
header #connection_button{
	cursor: pointer;
	float: right;
	color:white;
	padding-right: 8px;
	background-color:#445878;
	border-bottom-left-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 3px;
}
header #forms{
	text-align: inherit;
	background-color: #445878;
	padding-right: 20px;
	padding-bottom: 8px;
}
header #banner{
	height: 50px;
	background-color: #445878;
}
header #banner h1{
	margin: 0px;
	text-align: center;
	color: white;
}
header .collapse {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height 0.35s ease;
-moz-transition: height 0.35s ease;
-o-transition: height 0.35s ease;
transition: height 0.35s ease;
}
#corps
{
	overflow: hidden;
	min-height:1px;
}
#carnet{
	float: left;
	min-width: 20%;
	max-width: 100%;
}
#carnet h1{
	display: inline-block;
	margin-right: 10px;
}
.cEntry{
	text-decoration:underline;
	display:block;
	cursor: pointer;
	
}
.cEntry:hover{
background-color:rgb(240,240,240);
}
.cEntry.selected{
	background-color:#92CDCF;
}
.cEntry:hover.selected{
}
#detail{
	float: left;
	/*min-width:80%;*/
	display: hidden;
}
footer{
	background-color: #1C1D21;
	color: white;
	text-align:center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
