<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--web.xml default environment dev-->
    

    <beans>
    	<bean id="_contactService" class="fr.esiea.ihm.scm.service.ContactService" />
    
    	<bean id="contactController" class="fr.esiea.ihm.scm.controllers.ContactController">
       		<property name="contactService" ref="_contactService"/>
   		</bean>
    
        <context:annotation-config/>
        <context:component-scan base-package="fr.esiea.ihm.scm.dao"/>
        <context:component-scan base-package="fr.esiea.ihm.scm.model"/>
        <context:component-scan base-package="fr.esiea.ihm.scm.service"/>
    </beans>
    
    
</beans>